
/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* top navigation (KEVIN)*/
    .navbar-dark .navbar-toggler-icon {
        background-color: #00AEEF;
    }
  
    .top-nav .navbar .collapse .navbar-nav .nav-item .nav-link {
        background-color: #ffffff;
        padding: 5px;
    }
  
    a.nav-link:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #00AEEF;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
    }
  
    /* main visual (KEVIN)*/
  .main-visual .masthead {
      height: 700px;
      width: 1050px;
      background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/main_visual/intro.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .main-visual .masthead .container .row {
      position: inherit;
      text-align-last: center;
      padding: 0px;
      margin: 0px;
    }
  }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    /* main visual (KEVIN)*/
    .top-nav{
       position: fixed;
       top: 100;
       width: 100%;
       z-index: 999;
       background-color: #ffffff;
   }
   
   .navbar-dark .navbar-toggler-icon {
       background-color: #00AEEF;
       
   }

   .top-nav .navbar .collapse .navbar-nav .nav-item .nav-link {
       background-color: #ffffff;
       padding: 5px;
   }

   .navbar-toggler:not(:disabled):not(.disabled) {
       cursor: pointer;
       position: absolute;
       right: 0;
       margin: 0px 30px 0px 0px;
   }
   
   .top-nav .navbar {
       height: 114px;
       position: relative;
     }

     a.nav-link:before {
       content: "";
       position: absolute;
       width: 100%;
       height: 2px;
       bottom: 0;
       left: 0;
       background-color: #00AEEF;
       visibility: hidden;
       transform: scaleX(0);
       transition: all 0.3s ease-in-out;
     }
     
     .top-nav .navbar .navbar-brand .nav-logo {
       width: 300px;
       height: 114px;
       position: absolute;
       left: 0px;
       top: 0px;
       padding: 10px 0px 9px 16px;
     }
     
   /* main visual (KEVIN)*/
 .main-visual .masthead {
     height: 700px;
     width: 1150px;
     background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/main_visual/intro.jpeg);
     background-size: cover;
     background-repeat: no-repeat;
   }
 
   .main-visual .masthead .container .row {
     position: inherit;
     text-align-last: center;
     padding: 0px;
     margin: 0px;
   }
}


/* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) { 
    /* main visual (KEVIN)*/
    .top-nav{
        position: fixed;
        top: 100;
        width: 100%;
        z-index: 999;
        background-color: #ffffff;
    }

    .navbar-dark .navbar-toggler-icon {
        background-color: #00AEEF;
        
    }

    .top-nav .navbar .collapse .navbar-nav .nav-item .nav-link {
        background-color: #ffffff;
        padding: 5px 5px 5px 5px !important;
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer;
        position: absolute;
        right: 0;
        margin: 0px 30px 0px 0px;
    }

    .top-nav .navbar {
        height: 114px;
        position: relative;
    }

    a.nav-link:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #00AEEF;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }
    
    .top-nav .navbar .navbar-brand .nav-logo {
        width: 300px;
        height: 114px;
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 10px 0px 9px 16px;
    }
    
    /* main visual (KEVIN)*/
    .main-visual .masthead {
    height: 700px;
    width: 1250px;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/main_visual/intro.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    }

    .main-visual .masthead .container .row {
    position: inherit;
    text-align-last: center;
    padding: 0px;
    margin: 0px;
    }
    }
    /* Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) { 
        /* main visual (KEVIN)*/
    .top-nav{
        position: fixed;
        top: 100;
        width: 100%;
        z-index: 999;
        background-color: #ffffff;
    }

    .navbar-dark .navbar-toggler-icon {
        background-color: #00AEEF;
        
    }

    .top-nav .navbar .collapse .navbar-nav .nav-item .nav-link {
        background-color: #ffffff;
        text-align: center;
        padding: 5px 65px 5px 5px;
    }

    .top-nav .navbar {
        height: 114px;
        position: relative;
    }

    a.nav-link:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #00AEEF;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }
    
    .top-nav .navbar .navbar-brand .nav-logo {
        width: 300px;
        height: 114px;
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 10px 0px 9px 16px;
    }
    
    /* main visual (KEVIN)*/
    .main-visual .masthead {
    height: 700px;
    width: 1350px;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../images/main_visual/intro.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    }

    .main-visual .masthead .container .row {
    position: inherit;
    text-align-last: center;
    padding: 0px;
    margin: 0px;
    }
}